@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html {
    @apply scroll-smooth;
  }
}

.glass {
  @apply bg-black/10 backdrop-blur-md border border-white/10;
}

.gradient-bg {
  @apply bg-gradient-to-br from-[#00C2FF] via-[#A438FF] to-[#FF8A76] animate-gradient bg-[length:400%_400%];
}

@keyframes mysterious-fade {
  0% {
    opacity: 0.4;
    transform: scale(1.05) rotate(-12deg);
  }
  50% {
    opacity: 0.8;
    transform: scale(1) rotate(-6deg);
  }
  100% {
    opacity: 0.4;
    transform: scale(1.05) rotate(-12deg);
  }
}

.mysterious-animation {
  animation: mysterious-fade 8s ease-in-out infinite;
}
